<table class="table">
    <tbody>
        <tr>
            <td width="15%"><strong>Indicador</strong></td>
            <td><%= ficha.nombre %></td>
        </tr>
        <tr>
            <td width="15%"><strong>Objetivo del PAE</strong></td>
            <td> <%= ficha.objetivo %></td>
        </tr>
        <tr>
            <td width="15%"><strong>Descripción</strong></td>
            <td><%= ficha.descripcion %></td>
        </tr>
        <tr>
            <td width="15%"><strong>Observaciones</strong></td>
            <td> <%= ficha.observaciones %></td>
        </tr>
        <tr>
            <td width="15%"><strong>Periodicidad</strong></td>
            <td><%= ficha.periodicidad %></td>
        </tr>
        <tr>
            <td width="15%"><strong>Fuente</strong></td>
            <td><%= ficha.fuente %></td>
        </tr>
        <tr>
            <td width="15%"><strong>Referencias</strong></td>
            <td><%= ficha.referencia %></td>
        </tr>
        <tr>
            <td width="15%"><strong>Meta 2018</strong></td>
            <td><%= ficha.sexenal %></td>
        </tr>
    </tbody>
</table>