<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/miipps"><i class="fa fa-home"></i> </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="<%= section == 'bubbles'? 'active': ''%>"><a href="/bubbles"><i class="fa fa-heart-o"></i> Bubbles</a></li>
                <li class="<%= section == 'comparativo'? 'active': ''%>"><a href="/compara"><i class="fa fa-line-chart"></i> Comparativo</a></li>
                <li class="<%= section == 'dashboard'? 'active': ''%>"><a href="/dashboard"><i class="fa fa-pie-chart"></i> Dashboard</a></li>
                <li class="<%= section == 'analisis'? 'active': ''%>"><a href="/miipps"><i class="fa fa-bar-chart"></i> Análisis</a></li>
                <li class="<%= section == 'pruebas'? 'active': ''%>"><a href="/pruebas"><i class="fa fa-flask"></i> Pruebas</a></li>
                <!--<li class="active"><a href="/miipps">Ítem</a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="<%= section == 'captura'? 'active': ''%>"><a href="/captura"><i class="fa fa-pencil-square-o"></i> Captura</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/signout">Cerrar sesión</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Usuario</li>
                        <li><a href="#">Cambiar contraseña</a></li>
                        <li><a href="#">Actualizar datos</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>