
<% function color( val ) {
    switch ( val ){
        case 0:
            return '/img/negro.png';
            break;
        case 1:
            return '/img/rojo.png ';
            break;
        case 2:
            return '/img/amarillo.png';
            break;
        case 3:
            return '/img/verde.png';
            break;
        case 4:
            return '/img/naranja.png';
            break;
        case 5:
            return '/img/azul.png';
            break;
    }

    return '/img/blanco.png';
}%>

<table class="table">

    <thead>
    <tr>
        <th>Año</th>
        <th>Entidad</th>
        <th>Numerador </th>
        <th>Denominador</th>
        <th>Valor del indicador</th>
        <th>Desempeño</th>
    </tr>
    </thead>

    <tbody>
    <% for ( var i=0; i< datos.length; i++){%>

    <tr>
        <td><%= datos[i].anii %></td>
        <td><%= datos[i].nombre %></td>
        <td><%= datos[i].numi%></td>
        <td><%= datos[i].deni%></td>
        <td><%= datos[i].vali%></td>
        <td>
            <% if ( datos[i].color == 3 ) { %>
                <span class="graph-indicator graph-indicator__excelent"></span>
            <% } %>
            <% if ( datos[i].color == 2 ) { %>
                <span class="graph-indicator graph-indicator__regular"></span>
            <% } %>
            <% if ( datos[i].color == 1 ) { %>
                <span class="graph-indicator graph-indicator__bad"></span>
            <% } %>
            <% if ( datos[i].color === 0 ) { %>
                <span class="graph-indicator graph-indicator__insufficient"></span>
            <% } %>
            <% if ( datos[i].color == 4 ) { %>
                <span class="graph-indicator graph-indicator__under"></span>
            <% } %>
            <% if ( datos[i].color == 5 ) { %>
                <span class="graph-indicator graph-indicator__fulfillment"></span>
            <% } %>
            <% if ( datos[i].color === undefined ) { %>
                <span class="graph-indicator graph-indicator__no-data"></span>
            <% } %>
        </td>
    </tr>
    <%}%>

    </tbody>
</table>