
<% function color( val ) {
    switch ( val ){
        case 0:
            return '/img/morado.png';
            break;
        case 1:
            return '/img/rojo.png ';
            break;
        case 2:
            return '/img/amarillo.png';
            break;
        case 3:
            return '/img/verde.png';
            break;
        case 4:
            return '/img/naranja.png';
            break;
        case 5:
            return '/img/azul.png';
            break;
    }

    return '/img/plata.png';
}%>

<table class="table">

    <thead>
    <tr>
        <th>Año</th>
        <th>Entidad</th>
        <th>Numerador </th>
        <th>Denominador</th>
        <th>Valor del indicador</th>
        <th>Desempeño</th>
    </tr>
    </thead>

    <tbody>
    <% for ( var i=0; i< datos.length; i++){%>

    <tr>
        <td><%= datos[i].anio %></td>
        <td><%= datos[i].nombre %></td>
        <td><%= datos[i].numerador%></td>
        <td><%= datos[i].denominador%></td>
        <td><%= datos[i].valor%></td>
        <td> <img src=<%- color(datos[i].color)%> width="32px"> </td>
    </tr>
    <%}%>

    </tbody>
</table>